@use '@/styles/variables.scss' as *;

.benefits {
  background-color: $bg-color-secondary;
  padding: 100px 0;

  .title {
    font-size: 50px;
    font-weight: 600;
  }

  .items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 90px;
    gap: 40px;
  }
}

@media (max-width: 1024px) {
  .benefits {
    padding: 50px 0;

    .title {
      text-align: center;
    }

    .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .benefits {
    padding: 40px 0;

    .title {
      font-size: 30px;
    }
  }
}
