@use 'variables' as *;

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
  font-family: $font-default;
  font-weight: 400;
  line-height: 1.6;
  color: $primary-color;
  background-color: $bg-color-primary;
}

body.lock {
  overflow: hidden;
}

section {
  padding: 120px 0;
}

// @media (max-width: 1024px) {
//   section#teachers,
//   section#status,
//   section#packages {
//     scroll-margin-top: 30px;
//   }
// }
